*{
    box-sizing: border-box;
}
#caixa_com_box_model_01{
    width: 345px;
    padding: 20px;
    border-width: 7px;
    border-style: dotted;
    border-color: rgb(139,0,139);
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    font-size: 14px;
    font-style: italic;
    color: rgb(25,25,112);
    text-align: right;
}
